@charset "utf-8";
/* CSS Document */
body {
    margin: 0;
    padding: 0;
    background: #1e1e1e;
    color: #fff;
    font-family: Arial;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #2a2a2a;
    gap: 20px;
}
.logo {
    font-size: 28px;
    font-weight: bold;
}
.search {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.btns .btn {
    padding: 10px 20px;
    background: #444;
    color: #fff;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}
.btn.yellow {
    background: #f7b500;
}

/* SECTIONS */
.section {
    padding: 40px 60px;
}
.section h2 {
    font-size: 28px;
}
.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

/* CARD */
.card {
    background: #2b2b2b;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

/* Hover Glow */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #ffd700;
}

/* Click Glow */
.card:active {
    box-shadow: 0 0 35px #fff;
    transform: scale(0.98);
}

.card img {
    width: 50%;
    border-radius: 8px;
}
.card h3 {
    margin: 10px 0 0;
    font-size: 16px;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 30px;
    background: #2a2a2a;
}
.footer h2 {
    margin-bottom: 10px;
}
.icons p {
    display: inline-block;
    margin: 0 15px;
}
